# (개발용) 배포 중지용
web-deploy.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
.env
*.env
envs/
.venv/

# Docker
*.log

# Alembic
# alembic/versions/

# IDE
.vscode/
.idea/

# Others
uploads/
test/__pycache__/

# pem키
.pem