fastapi
uvicorn[standard]
asyncpg
psycopg2
python-dotenv
alembic
pydantic==1.10.13
azure-storage-blob
aiohttp
aiofiles
python-multipart
azure-cognitiveservices-speech
pygame
openai
tiktoken
numpy
soundfile
